body{
    background-color: #fff;
    color: #484c4a;
}

.form-field {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.convetor {
    position: relative;
    width: 80%;
    min-height: 1px;
    padding-right: 5%;
    padding-left: 5%;
}

.content {
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

Nav {
    border-bottom: 3px solid rgba(33,37,41,.7);
    background-color:#f2d479;
    height: 50px;
    font-family: Forte;
    color: #484c4a;
    font-size: 20px;
    text-align: center;
    
}

footer {
    background: #353632;
    color: #ccc;
    padding: 3px 0;
    font-size: 12px;
    width: 100%;
}

.btnConvert{
    height: 60px;
    padding: 10px;
    margin-top: 30px;
    border-radius: 40px;
    border-color:#f2d479;
    border-style: solid ;
    background-color:#1a5438 ;
    color:#f2d479 ;
    font-size: 10px;
}
.output {
    
    margin: 30px;
    color:#1f5733;
    font-size: 20px;
    text-align: center;
    border-color:#e0c82d;
    border-style: solid ;
    background-color:#62cc99;
}